
ul#navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 3%;
	width: 100%;
	margin: 0;
	height: 10vh;
	list-style: none;
}

#navbar li:hover {
	background-color: #fff;
}

#navbar a {
	text-decoration: none;
	color: white;
	font-size: 1rem;
	font-weight: normal;
	transition: all 0.2s ease-out;
}

#navbar a:hover {
	color: rgb(214, 18, 18);
	font-size: 1rem;
	font-weight: bolder;
	text-decoration: underline;
}

@media screen and (min-width: 500px){

	#navbar a {
		font-size: 1.2rem;
	}

	#navbar a:hover {
		font-size: 1.5rem;
	}
}

@media screen and (min-width: 800px){

	#navbar a {
		font-size: 1.5rem;
	}

	#navbar a:hover {
		font-size: 2.5rem;
	}
}