html, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body div#root {
  min-height: 100vh;
  height: 100%;
  background-image: url('./styles/antonio-j-manzanedo-red-dragon-manzanedo3.jpg');
}

#root section {
  width: 100%;
  min-height: 90vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

#root section h1 {
  font-size: 5rem;
  text-align: center;
  margin: 0 0 4rem 0;
}

#root section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root form label {
	font-size: 1.5rem;
}

#root form input {
	font-size: 1rem;
	margin: 0.5rem 0;
}