html, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body div#root {
  min-height: 100vh;
  height: 100%;
  background-image: url('./styles/antonio-j-manzanedo-red-dragon-manzanedo3.jpg');
}

#root section {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0 0 2rem 0 ;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

h4 {
  font-size: 1rem;
  margin: 0;
}

@media screen and (min-width: 500px){
  h1 {
    font-size: 3.15rem;
    margin: 0 0 3rem 0;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 800px){
  h1 {
    font-size: 5rem;
    margin: 0 0 4rem 0;
  }

  h3 {
    font-size: 3rem;
  }

  h4{
    font-size: 2rem;
  }
}



#root section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root form label {
	font-size: 1.5rem;
}

#root form input {
	font-size: 1rem;
	margin: 0.5rem 0;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#discoverCharsAndAdvs li:nth-child(3n) {
  width: 80%;
  text-align: center;
  border-bottom: solid 2px white;  
}



#dashboard li {
  font-size: 1.5rem;
  margin: 0;
  padding: 0.5rem;
  border: solid 2px blueviolet;
  background-color: rebeccapurple;
}

#dashboard li:not(:nth-child(2n)) {
  margin-top: 1rem;
}

